
html, pre, body, code
{
  margin: 0px;
  padding: 0px;
}

code
{
  word-wrap:break-word;
  font-size: 11px;
}

.card
{
  width: 500px;
  page-break-inside: avoid;
}

code.snippet
{
  display: none;
}

pre, .snippet
{
  border-right: dashed 1px #ddd;
  border-left: dashed 1px #ddd;
  border-bottom: dashed 1px #ddd;
}

h2
{
  font-family: 'Source Sans Pro', sans-serif;
  background: #222222;
  color: #fefefe;
  margin: 0;
  padding: 8px;
  font-size: 14px;
}

p
{
  font-family: 'Source Sans Pro', sans-serif;
  background: #ddd;
  color: #555;
  margin: 0;
  padding: 8px;
  font-size: 12px;
}

h5
{
  font-family: 'Source Sans Pro', sans-serif;
  background: #eee;
  color: #555;
  margin: 0;
  padding: 6px 4px ;
  font-size: 12px;
  text-align: right;
}

/* Create */

.card.full
{
  margin: 1%;
  width: 98%;
}

.card.full .snippet
{
  padding: 7px;
}

.card.full textarea
{
  resize:vertical ;
}
.card.full textarea, .card.full select, .card.full input
{
  width: 100%;
}

.card.full .snippet textarea
{
  height: 250px;
}

/* Header */

#header
{
  height: 46px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0px;
  background: #f4f4f4;
}

.subheader
{
  height: 46px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0px;
  background: #ddd;
}

.subheader h1
{
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  margin-left: 10px;
  padding-top: 10px;
  color: #888;
}


#header a.logo
{
  display: block;
  float:left;
  margin: 7px 11px;
  color: #f4f4f4;
  font-size: 22px;
  text-decoration: none;
}

#header a.logo i
{
  color: #508cbf;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 28px;
}

#header a.logo:hover
{
  color: #111;
  text-decoration: none;
}

#header a.logo:hover i
{
  color: #111;
  text-decoration: none;
}

.subheader a.button
{
  margin-top: 10px;
  margin-right: 10px;
  display: block;
  padding: 7px 12px;
  border-radius: 3px;
  float:right;
  color: #fff;
  background: #508cbf;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

.subheader a.button.negative
{
  color: #999;
  background: #bbb;
}

.subheader a.button:hover
{
  color: #508cbf;
  background: #111;
  text-decoration: none;
}

#header .search
{
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 10px;
  height: 25px;
  float:right;
  text-align: right;
  padding: 0px 3px;
}

/* Badges - Tags */
.badge-0, .tag-0, .tag { background: #23ae59; }
.badge-1, .tag-1 { background: #508cbf; }
.badge-2, .tag-2 { background: #ff4954; }
.badge-3, .tag-3 { background: #ff6240; }
.badge-4, .tag-4 { background: #ffcd00; }
.badge-5, .tag-5 { background: #7759BF; }
.badge-6, .tag-6 { background: #15AEAC; }
.badge-7, .tag-7 { background: #FFA43D; }
.badge-8, .tag-8 { background: #a95e40; }
.badge-9, .tag-9 { background: #6477c6; }

#tags
{
  display: none;
}

#tags li, h5 span
{
  font-weight: bold;
  color:#fff;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline;
  list-style-type: none;
  padding: 2px;
  margin: 0px;
  border-radius: 4px;
}

.tag
{
  display: block;
  float: right;
  font-size: 10px;
  padding: 2px 5px;
  margin-left: 4px;
  border-radius: 2px;
}

.badge
{
  margin: 4px;
  width: 10px;
  height: 10px;
  float: left;
  display: block;
  border-radius: 10px;
}

.card .badge
{
  float: right;
}
